body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.bg-gradient {
    background-image: url('../img/login_background.jpg');
    background-size: cover;
}

.outer {
    margin: 40px 10%;
}

.inner {
    display: block;
    text-align: center;
    color: #495057;
    padding: 3em;
}