.bg-gradient {
    background-image: url('../img/login_background.jpg');
    background-size: cover;
}

.main-area {
    margin: 40px 10%;
}

.box {
    display: block;
    text-align: center;
    color: #495057;
    padding: 3em;
}