html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/login_background.jpg');
    background-size: cover;
}

form {
    min-width: 40%;
    display: block;
    text-align: center;
    background-color: white;
    color: #495057;
    padding: 3em;
}

.submit-btn {
    width: 100%;
    background-image: url('../img/login_background.jpg');
    color: white;
    border: none;
    outline: none;
    background-size: cover;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 32px;
    border-radius: 25px;
}

.submit-btn:hover, .submit-btn:focus {
    border: none;
    outline: none;
    background-image: none;
}

.submit-btn:hover {
    background-color:mediumpurple;
}

.submit-btn:focus {
    background-color: blueviolet;
}