#progress {
    margin-top: 1em;
    margin-bottom: 2em;
}

.progress {
    background: rgb(131, 58, 180, 0.2);
    height: 2em;
    font-size: 1em;
}

.progress-bar {
    background: rgb(131, 58, 180);
}

.record-item {
    position: relative;
    color: white;
    background: rgb(131, 58, 180);
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    border-radius: 25px;
    transition: background-color 1000ms linear;
}

.record-item:hover {
    cursor: pointer;
}

.right-checkbox {
    position: absolute;
    right: 1.25em;
    top: 1em;
    transform: scale(2);
}

.right-checkbox:hover {
    cursor: pointer;
}