#progress {
    margin-top: 1em;
    margin-bottom: 2em;
}

.progress {
    background:rgb(131, 58, 180, 0.2);
    height: 2em;
    font-size: 1em;
}

.progress-bar {
    background: rgb(131, 58, 180);
}

.record-item {
    color: white;
    background: rgb(214,41,118, 0.8);
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    border-radius: 25px;
}