{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/habit.css') }}">
{% endblock head %}

{% block content %}
    <div class="outer">
        <div class="inner">
            <h1>Your Habits</h1>
            <hr>
            {% for habit_id, habit_name, habit_desc, user_id in habits %}
                <div id="habit-{{ habit_id }}" class="habit-item">
                    {{ habit_name }}
                    <button onclick="removeHabit( '{{ habit_id }}', '{{ habit_name }}')" class="btn btn-light right"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-light right"><i class="fa fa-info"></i></button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/habit.js') }}"></script>
{% endblock scripts %}