{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}

{% block content %}
    <div class="outer">
        <div class="inner">
            <h1> {{ today }} </h1>
            <hr>
            {% if not today_habit %}
                <p>You don't have a habit yet. Click <a href="{{ url_for('add') }}">here</a> to create your first habit.</p>
            {% endif %}
            <div id="progress">
                <h5 id="progress-text"></h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar"></div>
                </div>
            </div>
            {% for record_date, habit_name, habit_id, status in today_habit %}
                <div id="record-{{ record_date }}-{{ habit_id }}"class="record-item" onclick="updateRecord(this, '{{ habit_id }}', '{{ record_date }}')">
                    {{ habit_name }}
                    <input type="checkbox" class="right-checkbox">
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="congrats-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CONGRATULATIONS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <img src="{{ url_for('static', filename='img/trophy.png') }}">
                    <p>You have completed all of your habits for today.</p>
                    <button class="btn btn-danger" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock scripts %}