{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock head %}

{% block content %}
    <div class="outer">
        <div class="inner">
            <h1> {{ today }} </h1>
            <hr>
            {% if not today_habit %}
                <p>You don't have a habit yet. Click <a href="{{ url_for('add') }}">here</a> to create your first habit.</p>
            {% endif %}
            <div id="progress">
                <h4 id="progress-text"></h4>
                <div class="progress">
                    <div id="progress-bar" class="progress-bar" role="progressbar"></div>
                </div>
            </div>
            {% for record_date, habit_name, habit_id, status in today_habit %}
                <div id="record-{{ record_date }}-{{ habit_id }}"class="record-item" onclick="updateRecord(this, '{{ habit_id }}', '{{ record_date }}')">
                    {{ habit_name }}
                    <input type="checkbox" class="right-checkbox">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script>
        getRecords();
    </script>
{% endblock scripts %}