{% extends 'entry.html' %}

{% block content %}
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <fieldset class="form-group"> 
            <h1>Welcome to Habit Tracker</h1>
            <hr>
            <div class="form-group">
                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid", placeholder="Enter username") }}
                    <div class="invalid-feedback">
                        {{ form.username.errors[0] }}
                    </div>
                {% else %}  
                    {{ form.username(class="form-control form-control-lg", placeholder="Enter username")}}
                {% endif %}
            </div>
            <div class="form-group">
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Enter password") }}
                    <div class="invalid-feedback">
                        {{ form.password.errors[0] }}
                    </div>
                {% else %}  
                    {{ form.password(class="form-control form-control-lg", placeholder="Enter password")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.remember(class="form-check-input") }} 
                {{ form.remember.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="submit-btn")}}
        </div>
        <small class="form-text text-muted">
            Don't have an account? Sign up <a href="{{ url_for('register') }}">Here</a>.
        </small>
    </form>
{% endblock content %}