{% extends 'entry.html' %}

{% block content %}
    <form action="/login" method="post">
        <h2>Welcome to Habit Tracker</h2>
        <hr>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="username" placeholder="Enter username">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="Enter password" data-toggle="password">
        </div>
        <div class="input-group mb-3">
            <button class="submit-btn" type="submit">Sign in</button>
        </div>
        <small class="form-text text-muted">
            Don't have an account? Sign up <a href="{{ url_for('register') }}">Here</a>.
        </small>
  </form>
{% endblock content %}