{% extends 'entry.html' %}

{% block content %} 
    <form action="{{ url_for('register') }}" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <h2>Register a New Account</h2>
        <hr>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="username" placeholder="New username">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" data-toggle="password">
        </div>
        <div class="input-group mb-3" id="show_hide_confirm_password">
            <input type="password" class="form-control" name="confirm" placeholder="Confirm password" data-toggle="password">
        </div>
        <div class="input-group mb-3">
            <button class="submit-btn" type="submit">Sign up</button>
        </div>
        <small class="form-text text-muted">
            Already have an account? Sign in <a href="{{ url_for('login') }}">Here</a>.
        </small>
    </form>
{% endblock content %}