{% extends 'base.html' %}
{% block content %}
    <div class="outer">
        <div class="inner">
            <h1>Setting</h1>
            <hr>
            <div class="row">
                <div class="col">
                    <form method="post" action="{{ url_for('setting') }}" style="background:lavender;padding:1em;">
                        {{ form1.csrf_token(id="update-password-form") }}
                        <h5>Update Password</h5>
                        <hr>
                        <fieldset class="form-group"> 
                            <div class="form-group">
                                <label for="oldPassword">Enter your old password</label>
                                {% if form1.oldPassword.errors %}
                                    {{ form1.oldPassword(id="oldPassword", class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {{ form1.oldPassword.errors[0] }}
                                    </div>
                                {% else %}
                                    {{ form1.oldPassword(id="oldPassword", class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="newPassword1">Enter your new password</label>
                                {% if form1.newPassword1.errors %}
                                    {{ form1.newPassword1(id="newPassword1", class="form-control form-control-lg is-invalid", data_toggle="password") }}
                                    <div class="invalid-feedback" style="display:block;">
                                        {{ form1.newPassword1.errors[0] }}
                                    </div>
                                {% else %}  
                                    {{ form1.newPassword1(id="newPassword1", class="form-control form-control-lg", data_toggle="password") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="newPassword2">Confirm your new password</label>
                                {% if form1.newPassword2.errors %}
                                    {{ form1.newPassword2(id="newPassword2", class="form-control form-control-lg is-invalid", data_toggle="password") }}
                                    <div class="invalid-feedback" style="display:block;">
                                        {{ form1.newPassword2.errors[0] }}
                                    </div>
                                {% else %}  
                                    {{ form1.newPassword2(id="newPassword2", class="form-control form-control-lg", data_toggle="password") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form1.submit(class="btn btn-danger", style="width:30%;border-radius:25px;", data_toggle="tooltip", data_placement="bottom", title="Make sure to remember your new password!") }}
                        </div>
                    </form>
                </div>
                <div class="col">
                    <form method="post" action="{{ url_for('setting') }}" style="background:lavender;padding:1em;">
                        {{ form2.csrf_token(id="delete-account-form") }}
                        <h5>Delete Account</h5>
                        <hr>
                        <fieldset class="form-group"> 
                            <div class="form-group">
                                <label for="password">Enter your password to proceed</label>
                                {% if form2.password.errors %}
                                    {{ form2.password(id="password", class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {{ form2.password.errors[0] }}
                                    </div>
                                {% else %}
                                    {{ form2.password(id="password", class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form2.delete(class="btn btn-danger", style="width:30%;border-radius:25px;", data_toggle="tooltip", data_placement="bottom", title="Proceed with caution as this action is permanent!") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock scripts %}